<div class="text-muted">
<p class="fs-5 mb-2 mt-0"><i class="fas fa-info-circle me-2"></i>About Abhyasa</p>
    <hr class="mb-1 mt-0">
    <dl class="row">
        <dt class="col-sm-4 fw-normal ">
            <i class="fa-solid fa-code-branch me-2"></i>Build
          </dt>
          <dd class="col-sm-8">
            {{BUILD}}
          </dd>
        
          <dt class="col-sm-4 fw-normal">
            <i class="fa-brands fa-bootstrap me-2"></i>Bootstrap version
          </dt>
          <dd class="col-sm-8">
            {{BS_VERSION}}
          </dd>
    </dl>
    <p class="fw-normal mb-1 fs-5"><i class="fa-solid fa-layer-group me-2 text-primary"></i>Technology stack</p>
      <div class="d-flex w-75 flex-wrap gap-2 opacity-75">
        <a href="https://getbootstrap.com/" target="_blank" rel="noopener" 
            class="py-2 px-2 fs-6 badge text-bg-primary text-decoration-none fw-normal">
            <icon class="fas fa-layer-group me-1"></icon>Bootstrap</a>
        <a href="https://fontawesome.com/icons/" target="_blank" rel="noopener" 
            class="py-2 px-2 fs-6 badge text-bg-primary text-decoration-none fw-normal">
            <icon class="fas fa-layer-group me-1"></icon>Font Awesome</a>
        <a href="https://marked.js.org/" target="_blank" rel="noopener" 
            class="py-2 px-2 fs-6 badge text-bg-primary text-decoration-none fw-normal">
            <icon class="fas fa-layer-group me-1"></icon>marked.js</a>
            <!-- <div class="w-100"></div> -->
        <a href="https://fonts.google.com/" target="_blank" rel="noopener" 
            class="py-2 px-2 fs-6 badge text-bg-primary text-decoration-none fw-normal">
            <icon class="fas fa-layer-group me-1"></icon>Google Fonts</a>
        <a href="https://www.cloudflare.com/" target="_blank" rel="noopener" 
            class="py-2 px-2 fs-6 badge text-bg-primary text-decoration-none fw-normal">
            <icon class="fas fa-layer-group me-1"></icon>Cloudflare Pages</a>
      </div>
      <div class="d-flex flex-wrap mt-2 opacity-75" >
        <a href="https://github.com/prahladyeri/open-quiz-commons/"
            class="w-75 py-2 px-2 fs-6  badge text-bg-secondary text-decoration-none fw-normal">
            <icon class="fas fa-layer-group me-1"></icon> Powered by Open Quiz Commons
          </a>
      </div>
  <hr class="mb-1">

  <ul class="list-unstyled d-none">
      <li class="mb-1">
        <i class="fas fa-link text-secondary me-2"></i> <a class='fw-bold text-secondary' href="https://paypal.me/prahladyeri">Donate with PayPal</a>
      </li>
      <li class="mb-1">
        <i class="fas fa-link text-secondary me-2"></i> <a  class='fw-bold text-secondary' href="upi://pay?pa=prahladyeri14-1@okaxis&cu=INR">Donate with UPI</a>
      </li>
      <li class="mb-1 ms-4">
        <img src="/img/upi-axis.png" style='max-width:100px'>
      </li>
</ul>
<p class="text-muted fw-bold mb-1 mt-0"><i class="fas fa-heart text-danger text-opacity-75 me-2"></i>Donate to help open source sustenance:</p>  
<table class=" table table-sm table-bordered align-middle text-center">
    <tr>
        <td ><a class='fw-bold text-secondary' href="https://paypal.me/prahladyeri"><i class="fab fa-paypal me-2"></i>Pay with PayPal</a></td>
        <td rowspan="2">
            <div class="d-flex flex-column align-items-center gap-1">
                <img src="/img/upi-axis.png" alt="Bootstrap logo" class="img-fluid" style="max-width:100px">
                <span class="small text-muted fw-bold"><i class="fas fa-qrcode me-2"></i>UPI QR Scan</span>
              </div>            
        </td>
    </tr>
    <tr >
        <td>
            <a  class='fw-bold text-secondary' href="upi://pay?pa=prahladyeri14-1@okaxis&cu=INR"><i class="fas fa-qrcode me-2"></i>Pay with UPI</a>
        </td>
    </tr>
</table>
  
</div>